{% load static %}

<div id="about-me" class="mb-5 mt-5">
  <h1 class="font-mono" style="color: #E85D04; font-size: 3rem">> about me</h1>
  <div class="row ml-4">
    <div class="col-sm-8">
      <p>Saya adalah seorang anak yang memiliki minat di bidang teknologi, terutama programming sejak SD kelas 6. Masih teringat, masa dimana saya bisa membuat game sendiri karena bosan. Namun, hingga sekarang belum ada satupun game yang berhasil saya buat. Hingga kemudian saya beralih ke bidang competitive programming, lalu ke cybersecurity.</p>
      <p>Bisa dibilang minat saya terhadap cybersecurity dikarenakan terlalu banyak menononton film action. Namun, semakin saya mendalami bidang ini, saya sadar bahwa alasan saya menyukai bidang ini lebih dari itu. Ancaman yang berpotensi muncul, ilmu yang selalu berkembang, menjadi beberapa dari sekian banyak alasan yang mendorong saya untuk tetap memilih bidang ini.</p>
      <p>Selain memiliki minat di bidang teknologi, saya juga memiliki beberapa hobby yang saya lakukan saat suntuk dengan tugas. Saya suka bernyanyi, mendengarkan musik, dan memasak. Meskipun, suara dan hasil masakan saya tidak sebagus para ahli, namun masih dapat diterima untuk didengarkan dan dirasakan.</p>
    </div>
    <div class="col-sm-4">
      <img src="{% static "profile.png" %}" width="375px">
    </div>
  </div>
  <div class="row ml-4 mt-3">
    <div class="col-sm-6">
      <h1 class="font-mono">.education</h1>
      <ul>
        <li><p style="margin-bottom: 0px;"><strong>University of Indonesia (2019 - now)</strong></p><p>Bachelor of Computer Science, Faculty of Computer Science</p></li>
        <li><p style="margin-bottom: 0px;"><strong>SMA Negeri 1 Sidoarjo (2016 - 2019)</strong></p><p>Science</p></li>
        <li><p><strong>SMP Negeri 1 Sidoarjo (2013 - 2016)</strong></p></li>
      </ul>
    </div>
    <div class="col-sm-6">
      <h1 class="font-mono">.achievement</h1>
      <ol>
        <li>First Winner of Capture The Flag Competition - Pekan RISTEK 2019</li>
        <li>Third Place Competitive Programming SMA - Arkavidia 5.0</li>
        <li>Silver Medal - Bina Nusantara Programming Contest for High School Students</li>
        <li>Bronze Medal - Informatics Olympiad - Indonesian National Science Olympiad</li>
      </ol>
    </div>
  </div>
</div>