{% load static %}

<div id="blogs" class="mb-5 mt-5">
  <h1 class="font-mono" style="color: #E85D04; font-size: 3rem">> blogs</h1>
  <div id="carouselControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static "blog-osn.png" %}" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>Olimpiade Sains Nasional 2017</h5>
          <p>Sebuah pengalaman yang mengubah jalan hidupku secara utuh</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static "blog-bnpchs.png" %}" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>BINUS Programming Contest for HighSchool Student 2016</h5>
          <p>Pengalaman pertama untuk dapat mengikuti kompetisi competitive programming serta pergi ke luar provinsi</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>