<div id="contact-me" class="mt-5" style="padding-bottom: 25rem;">
  <h1 class="font-mono" style="color: #E85D04; font-size: 3rem">> contact me</h1>
  <div class="form-group row ml-4">
    <label for="inputEmail" class="col-sm-2 col-form-label"><strong>Your email</strong></label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail" placeholder="Email" style="max-width: 25rem;">
    </div>
  </div>
  <div class="form-group row ml-4" style="padding-left: 15px;">
    <label for="inputEmail"><strong>Your messages</strong></label>
    <textarea rows="10" class="form-control" placeholder="Say Hi! to me"></textarea>
  </div>
  <div class="form-group float-right">
    <a href="/story-3/send" class="btn btn-primary">Send</a>
  </div>
</div>