<div id="projects" class="mb-5 mt-5">
  <h1 class="font-mono" style="color: #E85D04; font-size: 3rem">> projects</h1>
  <div id="project-1">
    <h3 class="row ml-4" style="padding-left: 15px;">.FeBug</h3>
    <p class="row ml-4" style="padding-left: 25px;">Program berbasis CLI yang dapat digunakan untuk compile, running, serta debugging. Bahasa pemrograman yang telah disupport adalah Pascal, C, dan C++. Program awalnya memiliki tujuan memberikan kemudahan saat akan membuat kode untuk competitive programming. Oleh karena itu, program ini juga telah mensupport batch dan interactive problem.</p>
  </div>
  <div id="project-2">
    <h3 class="row ml-4" style="padding-left: 15px;">.Capture The Flag Problem</h3>
    <p class="row ml-4" style="padding-left: 25px;">Sebuah project untuk melakukan riset terhadap permasalahan di dunia cybersecurity. Hasil riset nantinya akan diubah bentuk menjadi soal-soal CTF.</p>
  </div>
</div>