{% extends '../base.html' %}
{% load static %}

{% block title %}PPW Story 9 | Muhammad Faishol Amirul Mukminin{% endblock %}

{% block customcss %}
<style>
    .form-signin{
        width:100%;
        max-width:500px;
        padding:15px;
        margin:auto;
        font-family: 'VT323', monospace;
        font-size:24px;
    }
</style>
{% endblock %}

{% block contents %}
<main role="main" class="container">
    <form class="form-signin" action="{% url 'story9:login' %}" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="text-center mb-4">
            <img src='{% static "login.svg" %}' width="400"/>
            {% if form.errors %}
            <div id="error-messages" class="alert alert-danger" role="alert" style="text-align: left;">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% csrf_token %}
        <div class="form-group">
            <label for="inputUsername">Username</label>
            <input name="{{ form.username.name }}" type="text" class="form-control" id="inputUsername" required autofocus>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input name="{{ form.password.name }}" type="password" class="form-control" id="inputPassword" required>
        </div>
        <button class="btn btn-lg btn-block" type="submit" style="font-size:24px; background-color:#000000; color: white"><strong>&gt; LOGIN_</strong></button>
      </form>
</main>
{% endblock %}