{% extends '../base.html' %}

{% block title %}PPW Story 9 | Muhammad Faishol Amirul Mukminin{% endblock %}

{% block customcss %}
<style>
    .console{font-family:VT323,monospace;width:100%;height:450px;box-sizing:border-box;margin:auto}.console header{border-top-left-radius:5px;border-top-right-radius:5px;background-color:#555;height:45px;line-height:45px;font-size:28px;text-align:center;color:#ddd}.console .consolebody{border-bottom-left-radius:5px;border-bottom-right-radius:5px;box-sizing:border-box;padding:20px;height: 100%;background-color:#000;color:white; font-size: 2rem;}
    .cmd-text{font-family:'VT323',monospace;font-size:62px;margin:10px;}
</style>
{% endblock %}

{% block contents %}
<main role="main" class="container">
    <div class="console mt-3">
        <header>faishol@orangkeren</header>
        <div class="consolebody">
            <div class="cmd-text">
                <div id="hero" style="font-size:32px">&gt;&nbsp;</div>
                <div id="welcome-msg" style="color:#63de00;">&nbsp;</div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block customjs %}
  <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
  <script>
    new TypeIt("#hero", {
        speed: 100,
        startDelay: 900,
        afterComplete: async (step, instance) => {
          document.getElementById("welcome-msg").innerHTML = "Welcome {{ user }}!";
        } 
    }).type("echo \"Welcome $(whoami)!\"", {delay: 300}).go();
</script>
{% endblock %}