{% extends '../base.html'%}

{% block title %}PPW Story 3 | Muhammad Faishol Amirul Mukminin{% endblock %}

{% block customcss %}
<style>
  body {
    min-height: 80rem;
    padding-top: 6.5rem;
    background-color: #F9F9F9;
  }
  .bg-maroon {
    background-color: #9D0208;
  }
  .font-mono {
    font-family: VT323, monospace;
  }
</style>
{% endblock %}

{% block contents %}
  <main role="main" class="container">
    {% block pagecontents %}
    {% endblock %}
  </main>
{% endblock %}

{% block customjs %}
<script>
  $(document).ready(function(){
    // An offset to push the content down from the top
    var listElement = $('#main-navbar li');
    var offset = $('h1').outerHeight();
    
    listElement.find('a[href^="\/story-3\/#"]').click(function(event) { 
      // Prevent from default action to intitiate
      event.preventDefault();
      // The id of the section we want to go to.
      var anchorId = $(this).attr("href").replace('\/story-3\/', '');
      // Our scroll target : the top position of the
      // section that has the id referenced by our href.
      if (anchorId.length > 1 && $(anchorId).length > 0) {
        var target = $(anchorId).offset().top - offset;
      } else {
        var target = 0;
      }
      
      $('html, body').animate({ scrollTop: target	}, 500);
      
      setActiveListElements();
    });

    // Update current item class
    function setActiveListElements(event){
      var windowPos = $(window).scrollTop();
      
      $('#main-navbar li a[href^="\/story-3\/#"]').each(function() {
        var currentObj = $(this);
        var currentLink = $(this).attr("href").replace('\/story-3\/', '');
        if ($(currentLink).length > 0) {
          var refElement = $(currentLink);
          
          if (refElement.position().top <= windowPos + 60 && (refElement.position().top + refElement.height() + $("#main-navbar").height()) > windowPos) {
            $('#main-navbar li a').removeClass("active");
            currentObj.addClass("active");
          } else {
            currentObj.removeClass("active");
          }
        }
      });
    }

    // Update menu item on scroll
    $(window).scroll(function() {
      setActiveListElements();
    });
  });
</script>
{% endblock %}