{% extends './base.html'%}
{% load static %}

{% block pagecontents %}
  <div class="d-flex justify-content-center">
    <img src="{% static "cardiogram.svg" %}" class="mr-auto ml-auto"></img>
  </div>
  <h1 class="font-mono" style="font-size: 5rem; text-align: center;">Your message successfully send to my heart!</h1>
{% endblock %}