{% extends '../base.html' %}

{% block title %}PPW Story 7 | Muhammad Faishol Amirul Mukminin{% endblock %}

{% block contents %}
<main role="main" class="container">
    <h1 class="font-mono mb-5" style="text-align: center;">Story 7</h1>
    {% for title, content in contents %}
    <div class="card mb-2">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <span class="btn text-left accordion-btn" id="content-title-{{ forloop.counter }}" data-body="content-body-{{ forloop.counter }}">{{ title }}</span>
                <div class="btn-group float-right">
                    <button class="btn btn-secondary text-left" onclick="changeUp({{ forloop.counter }})">&#x25B2;</button>
                    <button class="btn btn-secondary text-left" onclick="changeDown({{ forloop.counter }})">&#x25BC;</button>
                </div>
            </h2>
        </div>
        <div id="content-body-{{ forloop.counter }}" class="card-body" style="display: none;">{{ content }}</div>
    </div>
    {% endfor %}
</main>
{% endblock %}

{% block customjs %}
<script>
    function changeContent(id1, id2) {
        let elm1 = document.getElementById(id1);
        let elm2 = document.getElementById(id2);
        if (elm1 == null || elm2 == null) return;

        let content1 = elm1.innerHTML;
        let content2 = elm2.innerHTML;
        elm1.innerHTML = content2;
        elm2.innerHTML = content1;
    }

    function changeUp(now) {
        let bef = now - 1;
        changeContent(`content-title-${bef}`, `content-title-${now}`);
        changeContent(`content-body-${bef}`, `content-body-${now}`);

    }

    function changeDown(now) {
        let nxt = now + 1;
        changeContent(`content-title-${nxt}`, `content-title-${now}`);
        changeContent(`content-body-${nxt}`, `content-body-${now}`);

    }
    var slideDownComponent = "";
    $(".accordion-btn").click(function() {
        let bodyId = $(this).attr('data-body');
        if (slideDownComponent == `#${bodyId}`) return;
        if (slideDownComponent != "") $(slideDownComponent).slideUp({duration: "slow", queue: false});
        $(`#${bodyId}`).slideDown({duration: "slow", queue: false});
        slideDownComponent = `#${bodyId}`
    });
</script>
{% endblock %}