{% extends '../base.html' %}
{% block title %}
    PPW Story 1 | Muhammad Faishol Amirul Mukminin
{% endblock %}

{% block customcss %}
<style>
    .logo{ text-decoration: none; } .logo:hover, .logo:focus { text-decoration: none; }
</style>
{% endblock %}

{% block contents %}
<div class="container" style="margin-top: 3em;">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <img width="250px" src="https://lh3.googleusercontent.com/fife/ABSRlIrhAzoN0SjzE0TzvEPx1U-YEMjwg9C7yK-l3hVnMAprh2ovSOi9nMEPPcoWi48qgWWeJdk5qPIkkTOf8VjtJXb2mhhgE1RpAKmrHTI43vY4pYwEquGeXNp0rKNpVYZQ3xIsqSGe6B0DxkBpEsErDkaRBy_50PiGmVBSsa1GRwJbgPRln0FLssmEVDTJgdBUg--Wu_1f3z7cQ664ZycL5sSHhM8aKSQvvSi9_kpRMstbLzMNdi869JMouy0ptn5joFUmoNjj0geMKmgRpu18uFoObCz2Wz8yUu6cD49uINmguO8dSQUuF7lskaqb09C0-q08tdOA-etAVR6OIYAhrSRv7oTdCQKKWNCSmKMy60cbEAS6V_xBbY6CHva5xzncEpIBr2ZpAJFBEOyTrZzmZngR2WlDq-nnOz3OA0PfCsDFe5zDSVxeLL4L-PdBXQJl4nrTNGGrvwqohqBo37xmQEU2QqOns9PHJYaQVOxApSwKScbZ58qrAU2FkaT7Y-u4cUGojJdSesPRIoqipsAQF0kxWlqpopwbjZfopb7IKhPZjqQg3dWYWh6Cdcigq5usakwml_08iqa3xWAolMu4MdDiJhQ5-xIK-qqkLnsZAHuhTGiN-8kCbdUdkZta5Bxbw6Z56YDNizLeU5YkR9UOkTJ93mlGIF6Z9Foeqa1_WSBOrvwUA8NF6_3YdHpVfnnM0qlTk2wKpHEJMSoqOjhhV3ZLhsFmp-36fA=ft">
        </div>
        <div class="col-12 justify-content-center" style="text-align: center;margin-top: 1em;">
            <div class="text-s font-weight-bold text-uppercase mb-1">Muhammad Faishol Amirul Mukminin</div>
            <div class="text-xs font-weight-bold text-uppercase mb-1">1906285573 - Ilmu Komputer 2019 - Maung</div>
        </div>
        <div class="col-xl-3 col-md-4 my-3">
            <div class="card box-shadow h-100 py-2" style="border-top: .25rem solid #4e73df!important;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Media Sosial</div>
                            <a class="logo" href="https://web.facebook.com/muhammad.faishol.a.m">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="40px"><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"/></svg>
                            </a>&nbsp;
                            <a class="logo" href="https://www.linkedin.com/in/muhammad-faishol-a-m/">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="40px"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>
                            </a>&nbsp;
                            <a class="logo" href="https://gitlab.com/faishol27">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="40px"><path d="M105.2 24.9c-3.1-8.9-15.7-8.9-18.9 0L29.8 199.7h132c-.1 0-56.6-174.8-56.6-174.8zM.9 287.7c-2.6 8 .3 16.9 7.1 22l247.9 184-226.2-294zm160.8-88l94.3 294 94.3-294zm349.4 88l-28.8-88-226.3 294 247.9-184c6.9-5.1 9.7-14 7.2-22zM425.7 24.9c-3.1-8.9-15.7-8.9-18.9 0l-56.6 174.8h132z"/></svg>    
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-md-4 my-3">
            <div class="card box-shadow h-100 py-2" style="border-top: .25rem solid #4e73df!important;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tentang</div>
                            <p class="h5 mb-0 text-gray-800">Keingintahuan Anda terhadap saya membuat diri ini malu. Saya hanyalah seorang manusia biasa yang memiliki minat di bidang cybersecurity. Tidak begitu cerdas, namun tidak bodoh juga. Di masa mendatang, saya memiliki banyak harapan mengenai kehidupan saya.</p>
                            <br />
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Hobi</div>
                            <ul class="h5 mb-0 text-gray-800">
                                <li>Bernyanyi</li>
                                <li>Mendengarkan musik</li>
                                <li>Menonton film/drama/anime</li>
                                <li>Stalking</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-md-4 my-3">
            <div class="card box-shadow h-100 py-2" style="border-top: .25rem solid #4e73df!important;">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Riwayat Pendidikan</div>
                            <ul class="h5 mb-0 text-gray-800">
                                <li>Fakultas Ilmu Komputer, Universitas Indonesia (2019 - sekarang)</li>
                                <li>SMA Negeri 1 Sidoarjo (2016 - 2019)</li>
                                <li>SMP Negeri 1 Sidoarjo (2013 - 2016)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}