{% extends '../base.html' %}

{% block title %}PPW Story 5 | Muhammad Faishol Amirul Mukminin{% endblock %}
{% block contents %}
<main role="main" class="container">
    <h1 class="font-mono mb-5" style="text-align: center;">Info Mata Kuliah</h1>
    <div class="row">
        <div class="col-md-4">
            <h5><strong>Nama Mata Kuliah</strong></h5>
            <p>{{ course.name }}</p>
            <h5><strong>SKS</strong></h5>
            <p>{{ course.sks }}</p>
        </div>
        <div class="col-md-4">
            <h5><strong>Semester Tahun</strong></h5>
            <p>{{ course.term }}</p>
            <h5><strong>Ruangan</strong></h5>
            <p>{{ course.room }}</p>
        </div>
        <div class="col-md-4">
            <h5><strong>Dosen Pengajar</strong></h5>
            <p>{{ course.lecturer }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h5><strong>Deskripsi</strong></h5>
            <p>{{ course.description }}</p>
        </div>
    </div>
    <div class="row mt-5">
        <a href="/story-5/" class="btn btn-primary">Kembali</a>
    </div>
</main>
{% endblock %}