{% extends '../base.html' %}

{% block title %}PPW Story 5 | Muhammad Faishol Amirul Mukminin{% endblock %}
{% block contents %}
<main role="main" class="container">
    <h1 class="font-mono mb-5" style="text-align: center;">Tambah Mata Kuliah</h1>
    <form action="/story-5/add" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_nama_mata_kuliah">Nama mata kuliah:</label>
            <input type="text" class="form-control" name="nama_mata_kuliah" maxlength="100" required="" id="id_nama_mata_kuliah">
        </div>
        <div class="form-group">
            <label for="id_jumlah_sks">Jumlah sks:</label>
            <input type="number" class="form-control" name="jumlah_sks" required="" id="id_jumlah_sks">
        </div>
        <div class="form-group">
            <label for="id_dosen">Dosen:</label>
            <textarea name="dosen" class="form-control" cols="40" rows="5" maxlength="100" required="" id="id_dosen"></textarea>
        
        </div>
        <div class="form-group">
            <label for="id_semester_tahun">Semester tahun:</label>
            <input type="text" class="form-control" name="semester_tahun" maxlength="50" required="" id="id_semester_tahun">
        </div>
        <div class="form-group">
            <label for="id_ruang_kelas">Ruang kelas:</label>
            <input type="text" class="form-control" name="ruang_kelas" maxlength="50" required="" id="id_ruang_kelas">        
        </div>
        <div class="form-group">
            <label for="id_deskripsi">Deskripsi:</label>
            <textarea name="deskripsi" class="form-control" cols="40" rows="5" id="id_deskripsi"></textarea>
        </div>
        <button class="btn btn-primary" value="Submit">Submit</button>
    </form>
    <h1 class="font-mono mb-5" style="text-align: center;">Daftar Mata Kuliah</h1>
    <table class="table">
        <tr>
            <th>Nama Mata Kuliah</th>
            <th>Semester Tahun</th>
            <th>Pengajar</th>
            <th></th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.term }}</td>
            <td>{{ course.lecturer }}</td>
            <td>
                <a href="/story-5/{{ course.id }}/view" class="btn btn-primary">view</a>
                <a href="/story-5/{{ course.id }}/delete" class="btn btn-danger">delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    
</main>
{% endblock %}