<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    <style>
      body {
        min-height: 80rem;
        padding-top: 6.5rem;
        background-color: #F9F9F9;
      }
      .bg-maroon {
        background-color: #9D0208;
      }
      .font-mono {
        font-family: VT323, monospace;
      }
    </style>
    {% block customcss %}{% endblock %}
  </head>
  <body>
    {% include './navbar.html' %}
    {% block contents %}{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script>
      function getActiveNavbar() {
        let nowURL = window.location.pathname;
        let menuActive = "#" + nowURL.slice(nowURL.indexOf('/') + 1, nowURL.indexOf('/',1)) + "-navbar";
        $(menuActive).addClass('active');
      }
      $(document).ready(getActiveNavbar);
    </script>
    {% block customjs %}{% endblock %}
  </body>
</html>