{% load static %}
<nav id="main-navbar" class="navbar navbar-expand-md navbar-dark fixed-top bg-maroon font-mono">
  <a class="navbar-brand ml-5" href="/" style="font-size:32px">
    <img src="{% static "logo-white.png" %}" alt="logo" width=30/>
    FAISHOL
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse" style="font-size:24px">
    <ul class="navbar-nav mr-auto">
      <li id="story-1-navbar" class="nav-item">
        <a class="nav-link" href="{% url 'story1:index' %}">Story 1</a>
      </li>
      <li id="story-3-navbar" class="nav-item">
        <a class="nav-link" href="{% url 'story3:index' %}">Story 3</a>
      </li>
      <li id="story-5-navbar" class="nav-item">
        <a class="nav-link" href="{% url 'story5:index' %}">Story 5</a>
      </li>
      <li id="story-6-navbar" class="nav-item">
        <a class="nav-link" href="{% url 'story6:index' %}">Story 6</a>
      </li>
      <li id="story-7-navbar" class="nav-item">
        <a class="nav-link" href="{% url 'story7:index' %}">Story 7</a>
      </li>
      <li id="story-8-navbar" class="nav-item">
        <a class="nav-link" href="{% url 'story8:index' %}">Story 8</a>
      </li>
      <li id="story-9-navbar" class="nav-item">
        <a class="nav-link" href="{% url 'story9:index' %}">Story 9</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-5">
      {% for menu in custom_menu %}
        <li class="nav-item {% if menu.active %} active {% endif %}">
          <a class="nav-link" href="{{ menu.url }}">{{ menu.text }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>