{% extends '../base.html' %}

{% block title %}PPW Story 6 | Muhammad Faishol Amirul Mukminin{% endblock %}

{% block contents %}
<main role="main" class="container">
    <h1 class="font-mono mb-5" style="text-align: center;">{{ activity.title }}</h1>
    <form action="{% url 'story6:add_participant' activity.pk %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_nama_mata_kuliah">Nama Peserta:</label>
            <input type="text" class="form-control" name="nama_peserta" maxlength="50" required="">
        </div>
        <button class="btn btn-primary" value="Submit">Tambah</button>
        <a href="{% url 'story6:index' %}" class="btn btn-danger">Kembali</a>
    </form>
</main>
{% endblock %}