{% extends '../base.html' %}

{% block title %}PPW Story 6 | Muhammad Faishol Amirul Mukminin{% endblock %}

{% block contents %}
<main role="main" class="container">
    <h1 class="font-mono mb-5" style="text-align: center;">Tambah Kegiatan</h1>
    <form action="{% url 'story6:add_activity' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_nama_mata_kuliah">Nama Kegiatan:</label>
            <input type="text" class="form-control" name="nama_kegiatan" maxlength="50" required="">
        </div>
        <button class="btn btn-primary" value="Submit">Submit</button>
    </form>
    <h1 class="font-mono mb-5" style="text-align: center;">Daftar Kegiatan</h1>
    <table class="table">
        <tr>
            <th>Nama Kegiatan</th>
            <th>Daftar Peserta</th>
            <th></th>
        </tr>
        {% for activ in activities %}
        <tr>
            <td>{{ activ.title }}</td>
            <td>
                <ul>
                    {% for p in activ.participants %}
                        <li>{{ p.name }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <a href="{% url 'story6:add_participant' activ.id %}" class="btn btn-primary">Tambah Peserta</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock %}